openapi: 3.0.1
info:
  title: CDISC Library API
  description: Public API for CDISC Library
  version: '1.0'
servers:
  - url: https://api.library.cdisc.org/api
paths: {}
components:
  schemas:
    link:
      properties:
        href:
          type: string
          description: href
          format: uri
        title:
          type: string
          description: title
        type:
          type: string
          description: type
      description: Resource Reference
    rootItemRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Root Item Reference
    priorVersion:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Prior Version Reference
    action:
      type: object
      properties:
        name:
          type: string
          description: Name of the action to take
        params:
          type: object
          description: Parameters needed by the action
      description: Conformance Rule Action
    condition:
      type: object
      properties:
        name:
          type: string
          description: Name of the condition
        params:
          type: object
          description: Parameters needed by the condition
        operator:
          type: string
          description: The operator to perform on the condition method
        value:
          description: Any necessary comparison value
        any:
          type: array
          items:
            $ref: '#/components/schemas/condition'
          description: A list of conditions that will return true if any of the conditions in the list are true
        all:
          type: array
          items:
            $ref: '#/components/schemas/condition'
          description: A list of conditions that will return try if all of the conditions in the list are true
      description: Conformance Rule condition
    standard:
      type: object
      properties:
        Name:
          type: string
          description: Standard type
        Version:
          type: string
          description: standard version
          example: 3-4
      description: Name and version of a standard
    rule_reference:
      type: object
      properties:
        Id:
          type: string
          description: Published rule id
        Origin:
          type: string
          description: Rule source
        Version:
          type: string
          description: Rule version
      description: Reference to published rule definition
    authority:
      type: object
      properties:
        Organization:
          type: string
          description: Publisher organization
      description: Rule publisher
    rule_classes:
      type: object
      properties:
        Include:
          type: array
          items:
            type: string
          description: A list of classes that a rule explicitly applies to. Use 'All' when a rule applies to all classes
        Exclude:
          type: array
          items:
            type: string
          description: A list of classes that a rule explicitly DOES NOT apply to.
      description: Classes a rule applies to
    rule_domains:
      type: object
      properties:
        Include:
          type: array
          items:
            type: string
          description: A list of domains that a rule explicitly applies to. Use 'All' when a rule applies to all domains
        Exclude:
          type: array
          items:
            type: string
          description: A list of domains that a rule explicitly DOES NOT apply to.
      description: Domains/Datasets a rule applies to
    rule:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            package:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/link'
            standards:
              type: array
              items:
                $ref: '#/components/schemas/link'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/action'
        core_id:
          type: string
          description: Identifier for core related activities
        description:
          type: string
          description: Rule description
        id:
          type: string
          description: Unique id for referencing a rule
        rule_type:
          type: string
          description: Type of rule
        sensitivity:
          type: string
          description: Rule sensitivity
        severity:
          type: string
          description: Describes how severe a rule violatio is
        standards:
          type: array
          items:
            $ref: '#/components/schemas/standard'
          description: All standards the rule applies to
        reference:
          $ref: '#/components/schemas/rule_reference'
        authority:
          $ref: '#/components/schemas/authority'
        classes:
          $ref: '#/components/schemas/rule_classes'
        domains:
          $ref: '#/components/schemas/rule_domains'
        conditions:
          $ref: '#/components/schemas/condition'
      description: Conformance Rule
    rule_package:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/link'
            standards:
              type: array
              items:
                $ref: '#/components/schemas/link'
        rules:
          type: object
          description: Mapping of rule id to rule definition
      description: Rule release package
    diffResult:
      type: object
      properties:
        diff:
          type: array
          items:
            type: object
            properties:
              body:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        format:
                          type: object
                        text:
                          type: string
              head:
                type: array
                items:
                  type: string
              title:
                type: string
      description: Keyediffer Result
    searchResult:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            searchResults:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Search Results
      description: Search Result
    searchScopeList:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
          description: Search Scopes
      description: Search Scope List
    suggestResult:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            searchResults:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Suggestion Results
      description: Suggestion Result
    rootItem:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            versions:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Item Versions
      description: Root Item
    productAttributes:
      properties:
        name:
          type: string
          description: Product Name
        label:
          type: string
          description: Product Label
        description:
          type: string
          description: Product Description
        source:
          type: string
          description: Product Source
        effectiveDate:
          type: string
          description: Effective Date
          format: date
        registrationStatus:
          type: string
          description: Registration Status
        version:
          type: string
          description: Version
      description: CDISC Library Product Attributes
    productRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: CDISC Library Product Reference
    corrigenda:
      type: array
      items:
        type: object
        properties:
          impactedItem:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Impacted Item
          impactedProperty:
            type: string
            description: Impacted Property
          publishedValue:
            type: string
            description: Published Value
          correctedValue:
            type: string
            description: Corrected Value
          publishedResource:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Published Resource Reference
          correctedResource:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Corrected Resource Reference
      description: List of Corrigenda
    parentPackage:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Parent Package Reference
    parentCodelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Parent Codelist Reference
    termRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Codelist Term Reference
    codelistRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Codelist Reference
    packageRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: CT Package Reference
    term:
      type: object
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
        submissionValue:
          type: string
          description: Term Submission Value
        definition:
          type: string
          description: Term Definition
        preferredTerm:
          type: string
          description: Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Term Synonyms
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            parentPackage:
              $ref: '#/components/schemas/parentPackage'
            parentCodelist:
              $ref: '#/components/schemas/parentCodelist'
            rootItem:
              $ref: '#/components/schemas/rootItemRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
      description: Codelist Term
    packageTerm:
      type: object
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
        submissionValue:
          type: string
          description: Term Submission Value
        definition:
          type: string
          description: Term Definition
        preferredTerm:
          type: string
          description: Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Term Synonyms
      description: Codelist Term without links
    codelistAttributes:
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
        extensible:
          type: boolean
          description: Extensible
        name:
          type: string
          description: Codelist Name
        submissionValue:
          type: string
          description: Codelist Submission Value
        definition:
          type: string
          description: Codelist Definition
        preferredTerm:
          type: string
          description: Codelist Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Codelist Synonyms
      description: Codelist Attributes
    codelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentPackage:
                  $ref: '#/components/schemas/parentPackage'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            terms:
              type: array
              items:
                $ref: '#/components/schemas/packageTerm'
              description: Codelist Terms
      description: Codelist with Terms
    packageCodelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            terms:
              type: array
              items:
                $ref: '#/components/schemas/packageTerm'
              description: Codelist Terms
      description: Codelist with Terms, but without links
    codelistDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentPackage:
                  $ref: '#/components/schemas/parentPackage'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                terms:
                  type: array
                  items:
                    $ref: '#/components/schemas/termRef'
                  description: Codelist Term References
      description: Codelist with Term References
    package:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            codelists:
              type: array
              items:
                $ref: '#/components/schemas/packageCodelist'
              description: Codelists
      description: CT Package with Codelists
    packageDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                codelists:
                  type: array
                  items:
                    $ref: '#/components/schemas/codelistRef'
                  description: Codelist References
      description: CT Package with Codelist References
    packageList:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            packages:
              type: array
              items:
                $ref: '#/components/schemas/packageRef'
              description: Package References
      description: CT Package List
    valuelistRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Value List Reference
    modelRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Model Reference
    classRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Class Reference
    classAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Class Name
        label:
          type: string
          description: Class Label
        description:
          type: string
          description: Class Description
      description: Class Attributes
    fieldRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Field Reference
    domainRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Domain Reference
    scenarioRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Scenario Reference
    cdashFieldAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Field Name
        label:
          type: string
          description: Field Label
        definition:
          type: string
          description: Field Definition
        questionText:
          type: string
          description: Field Question Text
        prompt:
          type: string
          description: Field Prompt
        completionInstructions:
          type: string
          description: Field Completion Instructions
        implementationNotes:
          type: string
          description: Field Implementation Notes
        simpleDatatype:
          type: string
          description: Field Simple Datatype
        mappingInstructions:
          type: string
          description: Field Mapping Instructions
      description: CDASH Field Attributes
    cdashModelFieldAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Field Name
        label:
          type: string
          description: Field Label
        definition:
          type: string
          description: Field Definition
        domainSpecific:
          type: boolean
          description: Domain-Specific
        questionText:
          type: string
          description: Field Question Text
        prompt:
          type: string
          description: Field Prompt
        implementationNotes:
          type: string
          description: Field Implementation Notes
        simpleDatatype:
          type: string
          description: Field Simple Datatype
        mappingInstructions:
          type: string
          description: Field Mapping Instructions
      description: CDASH Field Attributes
    cdashModelField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashModelFieldAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmClassMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                sdtmDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
      description: CDASH Model Field
    cdashClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            cdashModelFields:
              type: array
              items:
                $ref: '#/components/schemas/cdashModelField'
              description: CDASH Model Fields
      description: CDASH Class
    cdashProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classes:
              type: array
              items:
                $ref: '#/components/schemas/cdashClass'
              description: Classes
            domains:
              type: array
              items:
                $ref: '#/components/schemas/cdashDomain'
              description: Domains
      description: CDASH Product
    cdashDomain:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashField'
              description: Domain Fields
      description: CDASH Domain
    cdashField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
      description: CDASH Field
    cdashDomainAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Domain Name
        label:
          type: string
          description: Domain Label
        status:
          type: string
          description: Domain Status
      description: CDASHIG Domain Attributes
    classList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  description: Class References
      description: Class List
    cdashClassList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  description: Class References
      description: Class List
    cdashDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            domains:
              type: array
              items:
                $ref: '#/components/schemas/domainRef'
              description: Domain Reference List
      description: CDASH Domain List
    cdashClassDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
            domains:
              type: array
              items:
                $ref: '#/components/schemas/domainRef'
              description: Domain Reference List
      description: Domain Class List
    cdashFieldList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            fields:
              type: array
              items:
                $ref: '#/components/schemas/fieldRef'
              description: Field Reference List
      description: CDASH Field List
    cdashigField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                modelField:
                  $ref: '#/components/schemas/fieldRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                parentScenario:
                  $ref: '#/components/schemas/scenarioRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmClassMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
      description: CDASHIG Field
    cdashigScenarioField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                modelField:
                  $ref: '#/components/schemas/fieldRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                parentScenario:
                  $ref: '#/components/schemas/scenarioRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
      description: CDASHIG Field
    cdashigDomainAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Domain Name
        label:
          type: string
          description: Domain Label
        status:
          type: string
          description: Domain Status
      description: CDASHIG Domain Attributes
    cdashigDomain:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Domain Scenarios
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashigField'
              description: Domain Fields
      description: CDASHIG Domain
    cdashigDomainDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/fieldRef'
                  description: Domain Field References
      description: CDASHIG Domain Digest
    cdashigScenarioAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        domain:
          type: string
          description: Domain
        domainName:
          type: string
          description: Two character domain name
        scenario:
          type: string
          description: Scenario
      description: CDASHIG Scenario Attributes
    cdashigScenario:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigScenarioAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashigScenarioField'
              description: CDASHIG Fields
      description: CDASHIG Scenario
    cdashigScenarioDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigScenarioAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/fieldRef'
                  description: CDASHIG Field References
      description: CDASHIG Scenario Digest
    cdashigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            domains:
              type: array
              items:
                $ref: '#/components/schemas/cdashigDomain'
              description: Domains
            scenarios:
              type: array
              items:
                $ref: '#/components/schemas/cdashigScenario'
              description: Scenarios
      description: CDASHIG Class
    classDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                domains:
                  type: array
                  items:
                    $ref: '#/components/schemas/domainRef'
                  description: Domain References
      description: CDASHIG Class Domain List
    classScenarioList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Scenario References
      description: CDASHIG Class Scenario List
    cdashigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classes:
              type: array
              items:
                $ref: '#/components/schemas/cdashigClass'
              description: Classes
      description: CDASHIG Product
    cdashigDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                domains:
                  type: array
                  items:
                    $ref: '#/components/schemas/domainRef'
                  description: Domain References
      description: CDASHIG Domain List
    cdashigScenarioList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Scenario References
      description: CDASHIG Scenario List
    variableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Variable Reference
    qualifiesVariableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Qualifies Variable Reference
    datasetRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Dataset Reference
    sdtmVariableAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Variable Name
        label:
          type: string
          description: Variable Label
        description:
          type: string
          description: Variable Description
        role:
          type: string
          description: Variable Role
        roleDescription:
          type: string
          description: Variable Role Description
        simpleDatatype:
          type: string
          description: Variable Simple Datatype
        usageRestrictions:
          type: string
          description: Variable Usage Restrictions
        notes:
          type: string
          description: Variable Notes
        examples:
          type: string
          description: Variable examples
      description: SDTM Variable Attributes
    datasetVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/sdtmVariableAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDataset:
                  $ref: '#/components/schemas/datasetRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
      description: SDTM Dataset Variable
    datasetAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Dataset Name
        label:
          type: string
          description: Dataset Label
        description:
          type: string
          description: Dataset Description
        datasetStructure:
          type: string
          description: Dataset Structure
        status:
          type: string
          description: Dataset Status
      description: SDTM Dataset Attributes
    dataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/datasetVariable'
              description: Dataset Variables
      description: SDTM Dataset
    datasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
      description: SDTM Dataset Digest
    classVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/sdtmVariableAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                qualifiesVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/qualifiesVariableRef'
                  description: Variables qualified by this variable
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
      description: SDTM Class Variable
    sdtmClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classVariables:
              type: array
              items:
                $ref: '#/components/schemas/classVariable'
              description: Class Variables
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/dataset'
              description: Datasets
      description: SDTM Class
    classVariableList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Class Variable References
      description: SDTM Class Variable List
    classDatasetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasets:
                  type: array
                  items:
                    $ref: '#/components/schemas/datasetRef'
                  description: Dataset References
      description: SDTM Class Dataset List
    sdtmProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sdtmClass'
              description: Classes
      description: SDTM Product
    dataTabulationDatasetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasets:
                  type: array
                  items:
                    $ref: '#/components/schemas/datasetRef'
                  description: Dataset References
      description: Data Tabulation Dataset List
    igVariableAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Variable Name
        label:
          type: string
          description: Variable Label
        description:
          type: string
          description: Variable Description
        role:
          type: string
          description: Variable Role
        simpleDatatype:
          type: string
          description: Variable Simple Datatype
        core:
          type: string
          description: Core Classifier
        describedValueDomain:
          type: string
          description: Described Value Domain
        valueList:
          type: array
          items:
            type: string
          description: Value List
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            codelist:
              $ref: '#/components/schemas/codelistRef'
            modelDatasetVariable:
              $ref: '#/components/schemas/variableRef'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDataset:
              $ref: '#/components/schemas/datasetRef'
            rootItem:
              $ref: '#/components/schemas/rootItemRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
      description: IG Variable Attributes
    sdtmigVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/igVariableAttributes'
      description: SDTMIG Variable
    sdtmigDataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigVariable'
              description: Dataset Variables
      description: SDTMIG Dataset
    sdtmigDatasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
      description: SDTMIG Dataset Digest
    sdtmigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigDataset'
              description: Datasets
      description: SDTMIG Class
    sdtmigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigClass'
              description: Classes
      description: SDTMIG Product
    sendigVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/igVariableAttributes'
      description: SENDIG Variable
    sendigDataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/sendigVariable'
              description: Dataset Variables
      description: SENDIG Dataset
    sendigDatasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
      description: SENDIG Dataset Digest
    sendigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/sendigDataset'
              description: Datasets
      description: SENDIG Class
    sendigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sendigClass'
              description: Classes
      description: SENDIG Product
    analysisVariableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Variable Reference
    analysisVariableSetRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Variable Set Reference
    analysisDatastructureRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Datastructure Reference
    analysisVariable:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Analysis Variable Name
        label:
          type: string
          description: Analysis Variable Label
        description:
          type: string
          description: Analysis Variable Description
        core:
          enum:
            - Perm
            - Req
            - Cond
          type: string
          description: Core Classifier
        simpleDatatype:
          type: string
          description: Analysis Variable Simple Datatype
        valueList:
          type: array
          items:
            type: string
          description: Value List
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            codelist:
              $ref: '#/components/schemas/codelistRef'
            valuelist:
              $ref: '#/components/schemas/valuelistRef'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDatastructure:
              $ref: '#/components/schemas/analysisDatastructureRef'
            parentVariableSet:
              $ref: '#/components/schemas/analysisVariableSetRef'
            parentClassVariable:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
      description: Analysis Variable
    analysisVariableSet:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Analysis Variable Set Name
        label:
          type: string
          description: Analysis Variable Set Label
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDatastructure:
              $ref: '#/components/schemas/analysisDatastructureRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
            parentClassVariableSet:
              $ref: '#/components/schemas/analysisVariableSetRef'
        analysisVariables:
          type: array
          items:
            $ref: '#/components/schemas/analysisVariable'
          description: Analysis Variables
      description: Analysis Variable Set
    analysisDatastructureAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
        name:
          type: string
          description: Datastructure Name
        label:
          type: string
          description: Datastructure Label
        description:
          type: string
          description: Datastructure Description
        class:
          type: string
          description: Datastructure Class
        subClass:
          type: string
          description: Datastructure Sub class
        status:
          type: string
          description: Datastructure Status
      description: Analysis Datastructure Attributes
    analysisDatastructure:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                parentClassDatastructure:
                  $ref: '#/components/schemas/analysisDatastructureRef'
            analysisVariableSets:
              type: array
              items:
                $ref: '#/components/schemas/analysisVariableSet'
              description: Analysis Variable Sets
      description: Analysis Datastructure
    analysisVariableSetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                analysisVariableSets:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisVariableSet'
                  description: Analysis Variable Set References
      description: Analysis Variable Set List
    analysisVariableList:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                analysisVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisVariableRef'
                  description: Analysis Variable References
      description: Analysis Variable List
    analysisDatastructureList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datastructures:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisDatastructureRef'
                  description: Datastructure References
      description: Analysis Datastructure List
    adamProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
            dataStructures:
              type: array
              items:
                $ref: '#/components/schemas/analysisDatastructure'
              description: Analysis Variable Sets
      description: ADaM Product
    integratedStandard:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                standards:
                  type: object
                  properties:
                    sdtmig:
                      $ref: '#/components/schemas/link'
                    cdashig:
                      $ref: '#/components/schemas/link'
                    sendig:
                      $ref: '#/components/schemas/link'
                    adamig:
                      $ref: '#/components/schemas/link'
                models:
                  type: array
                  items:
                    $ref: '#/components/schemas/link'
      description: Integrated Standard
    productgroupQrsInstrumentLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/productgroupRef'
        instruments:
          type: array
          items:
            $ref: '#/components/schemas/qrsInstrumentRefElement'
    productgroupRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/products/QrsInstrument
        title:
          type: string
          example: Product Group QRS Instrument
        type:
          type: string
          example: CDISC Library Product Group
    xmlProducts:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/products'
      xml:
        name: cdiscLibrary
    qrsInstrumentRefElement:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AIMS01/versions/1-0
        title:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
        type:
          type: string
          example: QRS Instrument
      xml:
        name: instrument
    qrsInstrument:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentProductLinks'
        name:
          type: string
          example: AIMS01 v1.0
        label:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
        description:
          type: string
          example: 'Abnormal Involuntary Movement Scale (AIMS) (Guy W. Ed. ECDEU Assessment Manual for Psychopharmacology. Rockville MD: US Dept of Health, Education and Welfare. 1976, Publication No. (ADM) 76-338).'
        effectiveDate:
          type: string
          example: '2013-05-22'
        untilDate:
          type: string
          example: '2022-12-31'
        registrationStatus:
          type: string
          example: Final
        version:
          type: string
          example: '1.0'
        instrumentType:
          type: string
          example: Questionnaire
        copyrightStatus:
          type: string
          example: Public Domain
        responseGroups:
          $ref: '#/components/schemas/qrsInstrumentResponseGroups'
        items:
          $ref: '#/components/schemas/qrsInstrumentItems'
      xml:
        name: qrsInstrument
    qrsInstrumentProductLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        priorVersion:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        instrumentCAT:
          $ref: '#/components/schemas/rootTermInstrumentCATRef'
        instrumentSCAT:
          $ref: '#/components/schemas/rootTermInstrumentSCATRef'
    qrsInstrumentProductRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AIMS01/versions/1-0
        title:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
        type:
          type: string
          example: QRS Instrument
    qrsInstrumentResponseGroups:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentResponseGroup'
    qrsInstrumentItems:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentItem'
    qrsInstrumentItem:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentItemLink'
        ordinal:
          type: integer
          example: 1
        label:
          type: string
          example: Abnormal Involuntary Movement Scale - Facial and Oral Movements, Muscles of facial expression, e.g., movements of forehead, eyebrows, periorbital area, cheeks. Include frowning, blinking, grimacing of upper face.
        questionText:
          type: string
          example: AIMS01-Muscles of Facial Expression
        itemCode:
          type: string
          example: AIMS0101
        responseGroup:
          $ref: '#/components/schemas/qrsInstrumentResponseGroup'
    qrsInstrumentResponseGroup:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentResponseGroupRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
        name:
          type: string
          example: AIMS01-01 to 07
        label:
          type: string
          example: AIMS:VD.AIMS01-01 to 07
        responseType:
          type: string
          example: Verbal Rating Scale
        responses:
          $ref: '#/components/schemas/qrsInstrumentResponseGroupResponses'
    qrsInstrumentResponseGroupResponses:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentResponseGroupResponse'
    qrsInstrumentResponseGroupResponse:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentResponseGroupResponseLinks'
        ordinal:
          type: integer
          example: 1
        isStandardResultNumeric:
          type: boolean
          example: true
    qrsInstrumentResponseGroupResponseLinks:
      type: object
      properties:
        responseORRES:
          $ref: '#/components/schemas/rootTermResponseORRESRef'
        responseSTRESC:
          $ref: '#/components/schemas/rootTermResponseSTRESCRef'
        responseSTRESN:
          $ref: '#/components/schemas/rootTermResponseSTRESNRef'
    qrsInstrumentResponseGroupsLinks:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentResponseGroupsRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
            responseGroups:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentResponseGroupRef'
    qrsInstrumentResponseGroupsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/responseGroups
        title:
          type: string
          example: QRS Instrument Response Groups for AMS01 v1.0
        type:
          type: string
          example: QRS Instrument Response Groups
    qrsInstrumentResponseGroupRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/responseGroups/AIMS01-01_to_07
        title:
          type: string
          example: QRS Instrument Response Group AIMS01-01 to 07 for AMS01 v1.0
        type:
          type: string
          example: QRS Instrument Response Group
    qrsInstrumentItemsLinks:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentItemsRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
            items:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentItemRef'
    qrsInstrumentItemsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/items
        title:
          type: string
          example: QRS Instrument Items for AMS01 v1.0
        type:
          type: string
          example: QRS Instrument Response Items
    qrsInstrumentItemRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/items/1
        title:
          type: string
          example: QRS Instrument Item 1 for AMS01 v1.0
        type:
          type: string
          example: QRS Instrument Item
    qrsInstrumentItemLink:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/qrsInstrumentItemRef'
        parentInstrument:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        instrumentItemTESTCD:
          $ref: '#/components/schemas/rootTermInstrumentItemTESTCDRef'
        instrumentItemTEST:
          $ref: '#/components/schemas/rootTermInstrumentItemTESTRef'
    rootQrsInstrument:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  example: /mdr/root/qrs/instruments/AIMS01
                title:
                  type: string
                  example: Version-agnostic anchor element for QRS Intrument AIMS01
                type:
                  type: string
                  example: Root QRS Instrument
            versions:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentProductRef'
    rootTermInstrumentCATRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C118971/terms/C102111
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C118971.C102111
        type:
          type: string
          example: Root Value
    rootTermInstrumentSCATRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C222222/terms/C333333
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C222222.C333333
        type:
          type: string
          example: Root Value
    rootTermInstrumentItemTESTCDRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C101805/terms/C102034
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C101805.C102034
        type:
          type: string
          example: Root Value
    rootTermInstrumentItemTESTRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C101806/terms/C102034
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C101806.C102034
        type:
          type: string
          example: Root Value
    rootTermResponseORRESRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C135012/terms/C28077
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C135012.C28077
        type:
          type: string
          example: Root Value
    rootTermResponseSTRESCRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C160923/terms/C161425
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C160923.C161425
        type:
          type: string
          example: Root Value
    rootTermResponseSTRESNRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C160923/terms/C161425
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C160923.C161425
        type:
          type: string
          example: Root Value
    lastupdatedAttributes:
      properties:
        overall:
          type: string
          description: Last Updated Date for Overall CDISC Library
        data-analysis:
          type: string
          description: Last Updated Date for Data Analysis Products
        data-collection:
          type: string
          description: Last Updated Date for Data Collection Products
        data-tabulation:
          type: string
          description: Last Updated Date for Data Tabulation Products
        qrs:
          type: string
          description: Last Updated Date for QRS instrument Products
        terminology:
          type: string
          description: Last Updated Date for Terminology Products
      description: CDISC Library Product Last Updated Date Attributes
    lastupdated:
      type: object
      allOf:
        - $ref: '#/components/schemas/lastupdatedAttributes'
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
      description: CDISC Library Product Last Updated Date
    maintenanceAttributes:
      properties:
        maintenanceMode:
          type: string
          description: Maintenance mode
        maintenanceMessage:
          type: string
          description: Maintenance message
      description: CDISC Library maintenance status
    maintenance:
      type: object
      allOf:
        - $ref: '#/components/schemas/maintenanceAttributes'
      description: CDISC Library maintenance status
    aboutAttributes:
      properties:
        release-notes:
          type: string
          description: URL to CDISC Library Release Notes
          format: url
        api-documentation:
          type: string
          description: URL to CDISC Library API Documentation
          format: url
      description: Information About CDISC Library Product Attributes
    about:
      type: object
      allOf:
        - $ref: '#/components/schemas/aboutAttributes'
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
      description: Information About CDISC Library
    products:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            data-collection:
              $ref: '#/components/schemas/productDataCollection'
            data-tabulation:
              $ref: '#/components/schemas/productDataTabulation'
            data-analysis:
              $ref: '#/components/schemas/productDataAnalysis'
            qrs:
              $ref: '#/components/schemas/productQrsInstrument'
            draft-content:
              $ref: '#/components/schemas/productDraftContent'
            integrated:
              $ref: '#/components/schemas/productIntegrated'
            terminology:
              $ref: '#/components/schemas/productTerminology'
      description: CDISC Library Product List
    productTerminology:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            packages:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: Terminology Product
    productDataAnalysis:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            adam:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: Data Analysis Product
    productDataTabulation:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            sdtm:
              type: array
              items:
                $ref: '#/components/schemas/link'
            sdtmig:
              type: array
              items:
                $ref: '#/components/schemas/link'
            sendig:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: Data Tabulation Product
    productDataCollection:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            cdash:
              type: array
              items:
                $ref: '#/components/schemas/link'
            cdashig:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: Data Collection Product
    productQrsInstrument:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            instrument:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: QRS Instrument Product
    productDraftContent:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            cdash:
              type: array
              items:
                $ref: '#/components/schemas/link'
            cdashig:
              type: array
              items:
                $ref: '#/components/schemas/link'
            sdtm:
              type: array
              items:
                $ref: '#/components/schemas/link'
            sdtmig:
              type: array
              items:
                $ref: '#/components/schemas/link'
            sendig:
              type: array
              items:
                $ref: '#/components/schemas/link'
            adam:
              type: array
              items:
                $ref: '#/components/schemas/link'
            qrs:
              type: array
              items:
                $ref: '#/components/schemas/link'
      description: Draft Content Product
    productIntegrated:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
      description: Integrated Standards product
    productGroupIntegrated:
      type: object
      allOf:
        - $ref: '#/components/schemas/productIntegrated'
      description: CDISC Library Product List for the Integrated Standard Product Group
    productGroupDataCollection:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataCollection'
      description: CDISC Library Product List for the Data Collection Product Group
    productGroupDataTabulation:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataTabulation'
      description: CDISC Library Product List for the Data Tabulation Product Group
    productGroupDataAnalysis:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataAnalysis'
      description: CDISC Library Product List for the Data Analysis Product Group
    productGroupTerminology:
      allOf:
        - $ref: '#/components/schemas/productTerminology'
      description: CDISC Library Product List for the Terminology Product Group
    productgroupQrsInstrument:
      type: object
      allOf:
        - $ref: '#/components/schemas/productQrsInstrument'
      description: CDISC Library Product List for the QRS Instrument Product Group
    productGroupDraftContent:
      allOf:
        - $ref: '#/components/schemas/productDraftContent'
      description: CDISC Library Product List for the Draft Content Product Group
    rule_package_links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            catalogs:
              type: object
      description: CDISC Library Rule Package List
    ig_document:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            children:
              type: array
              items:
                $ref: '#/components/schemas/link'
            section:
              $ref: '#/components/schemas/link'
            parentProduct:
              $ref: '#/components/schemas/link'
            parentDocument:
              $ref: '#/components/schemas/link'
        children:
          type: array
          items:
            type: string
        createdAt:
          type: string
        html:
          type: string
        id:
          type: string
        pageId:
          type: string
        parent:
          type: string
        section:
          type: string
        standard:
          type: string
        structures:
          type: array
          items:
            type: string
        text:
          type: string
        title:
          type: string
        updatedAt:
          type: string
        version:
          type: string
      description: Implementation guide document
    document_sections:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            sections:
              type: array
              items:
                $ref: '#/components/schemas/link'
        sections:
          type: array
          items:
            type: string
      description: Implementation guide document
    use_case_section_documents:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ig_document'
      description: Documents for a given use case and section
    use_case_list:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        useCases:
          type: array
          items:
            $ref: '#/components/schemas/use_case'
      description: List of use cases for a given standard
    use_case:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        name:
          type: string
      description: IG use case
    use_case_sections_list:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        useCaseSections:
          type: array
          items:
            $ref: '#/components/schemas/sections_list_for_usecase_and_standard'
      description: List of sections for a given use case
    sections_list_for_usecase_and_standard:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        name:
          type: string
          example: Diagrams
    documents_list:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ig_document'
      description: List of IG documents
    error:
      properties:
        statusCode:
          type: string
          description: HTTP Status Code
        reasonPhrase:
          type: string
          description: HTTP Reason Phrase
        userMessage:
          type: string
          description: User Error Message
        adminMessage:
          type: string
          description: Admin Error Message
    bcPackages:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/bcPackagesLinks'
    bcPackagesLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/bcPackagesRef'
        packages:
          type: array
          items:
            $ref: '#/components/schemas/bcPackageRef'
    bcPackagesRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages
        title:
          type: string
          example: Product Group Biomedical Concepts
        type:
          type: string
          example: Biomedical Concept Package List
    bcPackageRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts
        title:
          type: string
          example: Biomedical Concept Package Effective 2022-10-26
        type:
          type: string
          example: Biomedical Concept Package
    bcBiomedicalConcepts:
      type: object
      properties:
        name:
          type: string
          example: Biomedical Concepts 2022-10-26
        label:
          type: string
          example: Biomedical Concept Package Effective 2022-10-26
        effectiveDate:
          type: string
          example: '2022-10-26'
        version:
          type: string
          example: '2022-10-26'
        _links:
          $ref: '#/components/schemas/bcBiomedicalConceptsLinks'
    bcBiomedicalConceptsLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/bcBiomedicalConceptsRef'
        biomedicalConcepts:
          type: array
          items:
            $ref: '#/components/schemas/bcBiomedicalConceptRef'
    bcBiomedicalConceptsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts
        title:
          type: string
          example: Biomedical Concepts
        type:
          type: string
          example: Biomedical Concept List
      description: Biomedical Concepts Reference
    bcBiomedicalConceptRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts/C49676
        title:
          type: string
          example: Pulse Rate
        type:
          type: string
          example: Biomedical Concept
      description: Biomedical Concept Reference
    bcBiomedicalConcept:
      required:
        - conceptId
        - category
        - shortName
        - definition
      type: object
      properties:
        conceptId:
          type: string
          example: C49676
        href:
          type: string
          format: uri
          example: https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code=C49676
        category:
          type: array
          items:
            type: string
          example:
            - Vital Signs
        shortName:
          type: string
          example: Pulse Rate
        synonym:
          type: array
          items:
            type: string
          example:
            - Pulse
        resultScale:
          enum:
            - Quantitative
            - Ordinal
            - Nominal
            - Narrative
          type: string
          example: Quantitative
        definition:
          type: string
          example: The rate of the pulse as observed in an artery, expressed as beats per minute. It can be measured at several anatomic sites, including the wrist, neck, temple, groin, behind the knees, or on top of the foot.
        coding:
          type: array
          items:
            $ref: '#/components/schemas/bcBiomedicalConceptCoding'
        _links:
          $ref: '#/components/schemas/bcBiomedicalConceptLinks'
        dataElementConcepts:
          type: array
          items:
            $ref: '#/components/schemas/bcDataElementConceptElement'
    bcBiomedicalConceptLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/bcBiomedicalConceptRef'
        parentBiomedicalConcept:
          $ref: '#/components/schemas/bcBiomedicalConceptParentRef'
        parentPackage:
          $ref: '#/components/schemas/bcPackageRef'
    bcBiomedicalConceptParentRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts/C49672
        title:
          type: string
          example: Vital Signs Measurement
        type:
          type: string
          example: Biomedical Concept
      description: Biomedical Concept Parent Reference
    bcBiomedicalConceptCoding:
      required:
        - code
        - system
      type: object
      properties:
        code:
          type: string
          example: 39156-5
        system:
          type: string
          example: http://loinc.org/
        systemName:
          type: string
          example: LOINC
    bcDataElementConceptElement:
      required:
        - conceptId
        - label
      type: object
      properties:
        conceptId:
          type: string
          example: C123975
        href:
          type: string
          format: uri
          example: https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code=C123975
        shortName:
          type: string
          example: Vital Signs Laterality
        dataType:
          type: string
          example: string
        exampleSet:
          type: array
          items:
            type: string
          example:
            - Left
            - Right
    bcDataElementConcepts:
      required:
        - conceptId
        - category
        - shortName
        - definition
      type: object
      properties:
        conceptId:
          type: string
          example: C49676
        href:
          type: string
          format: uri
          example: https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code=C49676
        category:
          type: array
          items:
            type: string
          example:
            - Vital Signs
        shortName:
          type: string
          example: Pulse Rate
        synonym:
          type: array
          items:
            type: string
          example:
            - Pulse
        resultScale:
          enum:
            - Quantitative
            - Ordinal
            - Nominal
            - Narrative
          type: string
          example: Quantitative
        definition:
          type: string
          example: The rate of the pulse as observed in an artery, expressed as beats per minute. It can be measured at several anatomic sites, including the wrist, neck, temple, groin, behind the knees, or on top of the foot.
        coding:
          type: array
          items:
            $ref: '#/components/schemas/bcBiomedicalConceptCoding'
        _links:
          $ref: '#/components/schemas/bcDataElementConceptsLinks'
    bcDataElementConceptsLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/bcDataElementConceptsRef'
        parentBiomedicalConcept:
          $ref: '#/components/schemas/bcBiomedicalConceptParentRef'
        parentPackage:
          $ref: '#/components/schemas/bcPackageRef'
        dataElementConcepts:
          type: array
          items:
            $ref: '#/components/schemas/bcDataElementConceptRef'
    bcDataElementConceptsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts/C49676/dataelementconcepts
        title:
          type: string
          example: Pulse Rate Data Element Concept List
        type:
          type: string
          example: Data Element Concept List
      description: Data Element Concept Reference
    bcDataElementConceptRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/bc/packages/2022-10-26/biomedicalconcepts/C49676/dataelementconcepts/C123975
        title:
          type: string
          example: Vital Signs Laterality (Pulse Rate)
        type:
          type: string
          example: Data Element Concept
      description: Data Element Concept Reference
    bcDataElementConcept:
      required:
        - conceptId
        - label
      type: object
      properties:
        conceptId:
          type: string
          example: C123975
        href:
          type: string
          format: uri
          example: https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code=C123975
        label:
          type: string
          example: Vital Signs Laterality
        dataType:
          type: string
          example: string
        exampleSet:
          type: array
          items:
            type: string
          example:
            - Left
            - Right
        _links:
          $ref: '#/components/schemas/bcDataElementConceptLinks'
    bcDataElementConceptLinks:
      type: object
      properties:
        _self:
          $ref: '#/components/schemas/bcDataElementConceptRef'
        biomedicalConcept:
          $ref: '#/components/schemas/bcBiomedicalConceptRef'
        parentPackage:
          $ref: '#/components/schemas/bcPackageRef'
    sdtmPackages:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/sdtmPackagesLinks'
    sdtmPackagesLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/sdtmPackagesRef'
        packages:
          type: array
          items:
            $ref: '#/components/schemas/sdtmPackageRef'
    sdtmPackagesRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/specializations/sdtm/packages
        title:
          type: string
          example: Product Group SDTM Dataset Specializations
        type:
          type: string
          example: SDTM Dataset Specialization Package List
    sdtmPackageRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/specializations/sdtm/packages/2022-10-26/datasetspecializations
        title:
          type: string
          example: SDTM Dataset Specialization Package Effective 2022-10-26
        type:
          type: string
          example: SDTM Dataset Specialization Package
    sdtmDatasetSpecializations:
      type: object
      properties:
        name:
          type: string
          example: SDTM Dataset Specializations 2022-10-26
        label:
          type: string
          example: SDTM Dataset Specialization Package Effective 2022-10-26
        effectiveDate:
          type: string
          example: '2022-10-26'
        version:
          type: string
          example: '2022-10-26'
        _links:
          $ref: '#/components/schemas/sdtmDatasetSpecializationsLinks'
    sdtmDatasetSpecializationsLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/sdtmDatasetSpecializationsRef'
        DatasetSpecializations:
          type: array
          items:
            $ref: '#/components/schemas/sdtmDatasetSpecializationRef'
    sdtmDatasetSpecializationsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/specializations/sdtm/packages/2022-10-26/datasetspecializations
        title:
          type: string
          example: SDTM Dataset Specializations
        type:
          type: string
          example: SDTM Dataset Specialization List
      description: SDTM Dataset Specializations Reference
    sdtmDatasetSpecializationRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/specializations/sdtm/packages/2022-10-26/datasetspecializations/SYSBP
        title:
[...]
