openapi: 3.0.1
info:
  title: CDISC Library API
  description: Public API for CDISC Library
  version: '1.0'
servers:
  - url: https://api.library.cdisc.org/api
paths: {}
components:
  schemas:
    link:
      properties:
        href:
          type: string
          description: href
          format: uri
          title: Href
        title:
          type: string
          description: title
          title: Title
        type:
          type: string
          description: type
          title: Type
      description: Resource Reference
    rootItemRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Root Item Reference
    priorVersion:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Prior Version Reference
    action:
      type: object
      properties:
        name:
          type: string
          description: Name of the action to take
          title: Name
        params:
          type: object
          description: Parameters needed by the action
          title: Params
      description: Conformance Rule Action
    condition:
      type: object
      properties:
        name:
          type: string
          description: Name of the condition
          title: Name
        params:
          type: object
          description: Parameters needed by the condition
          title: Params
        operator:
          type: string
          description: The operator to perform on the condition method
          title: Operator
        value:
          description: Any necessary comparison value
          title: Value
        any:
          type: array
          items:
            $ref: '#/components/schemas/condition'
          description: A list of conditions that will return true if any of the conditions in the list are true
          title: Any
        all:
          type: array
          items:
            $ref: '#/components/schemas/condition'
          description: A list of conditions that will return try if all of the conditions in the list are true
          title: All
      description: Conformance Rule condition
    standard:
      type: object
      properties:
        Name:
          type: string
          description: Standard type
          title: Name
        Version:
          type: string
          description: standard version
          example: 3-4
          title: Version
      description: Name and version of a standard
    rule_reference:
      type: object
      properties:
        Id:
          type: string
          description: Published rule id
          title: Id
        Origin:
          type: string
          description: Rule source
          title: Origin
        Version:
          type: string
          description: Rule version
          title: Version
      description: Reference to published rule definition
    authority:
      type: object
      properties:
        Organization:
          type: string
          description: Publisher organization
          title: Organization
      description: Rule publisher
    rule_classes:
      type: object
      properties:
        Include:
          type: array
          items:
            type: string
          description: A list of classes that a rule explicitly applies to. Use 'All' when a rule applies to all classes
          title: Include
        Exclude:
          type: array
          items:
            type: string
          description: A list of classes that a rule explicitly DOES NOT apply to.
          title: Exclude
      description: Classes a rule applies to
    rule_domains:
      type: object
      properties:
        Include:
          type: array
          items:
            type: string
          description: A list of domains that a rule explicitly applies to. Use 'All' when a rule applies to all domains
          title: Include
        Exclude:
          type: array
          items:
            type: string
          description: A list of domains that a rule explicitly DOES NOT apply to.
          title: Exclude
      description: Domains/Datasets a rule applies to
    rule:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            package:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/link'
            standards:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Standards
          title: Title for _links
          description: Description for _links
        actions:
          type: array
          items:
            $ref: '#/components/schemas/action'
          title: Actions
        core_id:
          type: string
          description: Identifier for core related activities
          title: Core Id
        description:
          type: string
          description: Rule description
          title: Description
        id:
          type: string
          description: Unique id for referencing a rule
          title: Id
        rule_type:
          type: string
          description: Type of rule
          title: Rule Type
        sensitivity:
          type: string
          description: Rule sensitivity
          title: Sensitivity
        severity:
          type: string
          description: Describes how severe a rule violatio is
          title: Severity
        standards:
          type: array
          items:
            $ref: '#/components/schemas/standard'
          description: All standards the rule applies to
          title: Standards
        reference:
          $ref: '#/components/schemas/rule_reference'
        authority:
          $ref: '#/components/schemas/authority'
        classes:
          $ref: '#/components/schemas/rule_classes'
        domains:
          $ref: '#/components/schemas/rule_domains'
        conditions:
          $ref: '#/components/schemas/condition'
      description: Conformance Rule
    rule_package:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/link'
            standards:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Standards
          title: Title for _links
          description: Description for _links
        rules:
          type: object
          description: Mapping of rule id to rule definition
          title: Rules
      description: Rule release package
    diffResult:
      type: object
      properties:
        diff:
          type: array
          items:
            type: object
            properties:
              body:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        format:
                          type: object
                        text:
                          type: string
                title: Body
              head:
                type: array
                items:
                  type: string
                title: Head
              title:
                type: string
                title: Title
          title: Diff
      description: Keyediffer Result
    searchResult:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            searchResults:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Search Results
              title: Search Results
          title: Title for _links
          description: Description for _links
      description: Search Result
    searchScopeList:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
          description: Search Scopes
          title: Title for scopes
      description: Search Scope List
    suggestResult:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            searchResults:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Suggestion Results
              title: Search Results
          title: Title for _links
          description: Description for _links
      description: Suggestion Result
    rootItem:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            versions:
              type: array
              items:
                $ref: '#/components/schemas/link'
              description: Item Versions
              title: Versions
          title: Title for _links
          description: Description for _links
      description: Root Item
    productAttributes:
      properties:
        name:
          type: string
          description: Product Name
          title: Name
        label:
          type: string
          description: Product Label
          title: Label
        description:
          type: string
          description: Product Description
          title: Description
        source:
          type: string
          description: Product Source
          title: Source
        effectiveDate:
          type: string
          description: Effective Date
          format: date
          title: Effective Date
        registrationStatus:
          type: string
          description: Registration Status
          title: Registration Status
        version:
          type: string
          description: Version
          title: Version
      description: CDISC Library Product Attributes
    productRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: CDISC Library Product Reference
    corrigenda:
      type: array
      items:
        type: object
        properties:
          impactedItem:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Impacted Item
            title: Impacted Item
          impactedProperty:
            type: string
            description: Impacted Property
            title: Impacted Property
          publishedValue:
            type: string
            description: Published Value
            title: Published Value
          correctedValue:
            type: string
            description: Corrected Value
            title: Corrected Value
          publishedResource:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Published Resource Reference
            title: Published Resource
          correctedResource:
            type: object
            allOf:
              - $ref: '#/components/schemas/link'
            description: Corrected Resource Reference
            title: Corrected Resource
      description: List of Corrigenda
    parentPackage:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Parent Package Reference
    parentCodelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Parent Codelist Reference
    termRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Codelist Term Reference
    codelistRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Codelist Reference
    packageRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: CT Package Reference
    term:
      type: object
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
          title: Concept Id
        submissionValue:
          type: string
          description: Term Submission Value
          title: Submission Value
        definition:
          type: string
          description: Term Definition
          title: Definition
        preferredTerm:
          type: string
          description: Preferred Term
          title: Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Term Synonyms
          title: Synonyms
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            parentPackage:
              $ref: '#/components/schemas/parentPackage'
            parentCodelist:
              $ref: '#/components/schemas/parentCodelist'
            rootItem:
              $ref: '#/components/schemas/rootItemRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
          title: Title for _links
          description: Description for _links
      description: Codelist Term
    packageTerm:
      type: object
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
          title: Concept Id
        submissionValue:
          type: string
          description: Term Submission Value
          title: Submission Value
        definition:
          type: string
          description: Term Definition
          title: Definition
        preferredTerm:
          type: string
          description: Preferred Term
          title: Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Term Synonyms
          title: Synonyms
      description: Codelist Term without links
    codelistAttributes:
      properties:
        conceptId:
          pattern: C\d+$
          type: string
          description: NCI Thesaurus Concept Identifier
          title: Concept Id
        extensible:
          type: boolean
          description: Extensible
          title: Extensible
        name:
          type: string
          description: Codelist Name
          title: Name
        submissionValue:
          type: string
          description: Codelist Submission Value
          title: Submission Value
        definition:
          type: string
          description: Codelist Definition
          title: Definition
        preferredTerm:
          type: string
          description: Codelist Preferred Term
          title: Preferred Term
        synonyms:
          type: array
          items:
            type: string
          description: Codelist Synonyms
          title: Synonyms
      description: Codelist Attributes
    codelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentPackage:
                  $ref: '#/components/schemas/parentPackage'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            terms:
              type: array
              items:
                $ref: '#/components/schemas/packageTerm'
              description: Codelist Terms
              title: Terms
      description: Codelist with Terms
    packageCodelist:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            terms:
              type: array
              items:
                $ref: '#/components/schemas/packageTerm'
              description: Codelist Terms
              title: Terms
      description: Codelist with Terms, but without links
    codelistDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/codelistAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentPackage:
                  $ref: '#/components/schemas/parentPackage'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                terms:
                  type: array
                  items:
                    $ref: '#/components/schemas/termRef'
                  description: Codelist Term References
                  title: Terms
              title: Title for _links
              description: Description for _links
      description: Codelist with Term References
    package:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            codelists:
              type: array
              items:
                $ref: '#/components/schemas/packageCodelist'
              description: Codelists
              title: Codelists
      description: CT Package with Codelists
    packageDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                codelists:
                  type: array
                  items:
                    $ref: '#/components/schemas/codelistRef'
                  description: Codelist References
                  title: Codelists
              title: Title for _links
              description: Description for _links
      description: CT Package with Codelist References
    packageList:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            packages:
              type: array
              items:
                $ref: '#/components/schemas/packageRef'
              description: Package References
              title: Packages
          title: Title for _links
          description: Description for _links
      description: CT Package List
    valuelistRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Value List Reference
    modelRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Model Reference
    classRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Class Reference
    classAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Class Name
          title: Name
        label:
          type: string
          description: Class Label
          title: Label
        description:
          type: string
          description: Class Description
          title: Description
      description: Class Attributes
    fieldRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Field Reference
    domainRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Domain Reference
    scenarioRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Scenario Reference
    cdashFieldAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Field Name
          title: Name
        label:
          type: string
          description: Field Label
          title: Label
        definition:
          type: string
          description: Field Definition
          title: Definition
        questionText:
          type: string
          description: Field Question Text
          title: Question Text
        prompt:
          type: string
          description: Field Prompt
          title: Prompt
        completionInstructions:
          type: string
          description: Field Completion Instructions
          title: Completion Instructions
        implementationNotes:
          type: string
          description: Field Implementation Notes
          title: Implementation Notes
        simpleDatatype:
          type: string
          description: Field Simple Datatype
          title: Simple Datatype
        mappingInstructions:
          type: string
          description: Field Mapping Instructions
          title: Mapping Instructions
      description: CDASH Field Attributes
    cdashModelFieldAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Field Name
          title: Name
        label:
          type: string
          description: Field Label
          title: Label
        definition:
          type: string
          description: Field Definition
          title: Definition
        domainSpecific:
          type: boolean
          description: Domain-Specific
          title: Domain Specific
        questionText:
          type: string
          description: Field Question Text
          title: Question Text
        prompt:
          type: string
          description: Field Prompt
          title: Prompt
        implementationNotes:
          type: string
          description: Field Implementation Notes
          title: Implementation Notes
        simpleDatatype:
          type: string
          description: Field Simple Datatype
          title: Simple Datatype
        mappingInstructions:
          type: string
          description: Field Mapping Instructions
          title: Mapping Instructions
      description: CDASH Field Attributes
    cdashModelField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashModelFieldAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmClassMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                  title: Sdtm Class Mapping Targets
                sdtmDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                  title: Sdtm Dataset Mapping Targets
              title: Title for _links
              description: Description for _links
      description: CDASH Model Field
    cdashClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            cdashModelFields:
              type: array
              items:
                $ref: '#/components/schemas/cdashModelField'
              description: CDASH Model Fields
              title: Cdash Model Fields
      description: CDASH Class
    cdashProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classes:
              type: array
              items:
                $ref: '#/components/schemas/cdashClass'
              description: Classes
              title: Classes
            domains:
              type: array
              items:
                $ref: '#/components/schemas/cdashDomain'
              description: Domains
              title: Domains
      description: CDASH Product
    cdashDomain:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashField'
              description: Domain Fields
              title: Fields
      description: CDASH Domain
    cdashField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
              title: Core
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                  title: Sdtm Dataset Mapping Targets
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
                  title: Sdtmig Dataset Mapping Targets
              title: Title for _links
              description: Description for _links
      description: CDASH Field
    cdashDomainAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Domain Name
          title: Name
        label:
          type: string
          description: Domain Label
          title: Label
        status:
          type: string
          description: Domain Status
          title: Status
      description: CDASHIG Domain Attributes
    classList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  description: Class References
                  title: Classes
              title: Title for _links
              description: Description for _links
      description: Class List
    cdashClassList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  description: Class References
                  title: Classes
              title: Title for _links
              description: Description for _links
      description: Class List
    cdashDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            domains:
              type: array
              items:
                $ref: '#/components/schemas/domainRef'
              description: Domain Reference List
              title: Domains
      description: CDASH Domain List
    cdashClassDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
              title: Title for _links
              description: Description for _links
            domains:
              type: array
              items:
                $ref: '#/components/schemas/domainRef'
              description: Domain Reference List
              title: Domains
      description: Domain Class List
    cdashFieldList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            fields:
              type: array
              items:
                $ref: '#/components/schemas/fieldRef'
              description: Field Reference List
              title: Fields
      description: CDASH Field List
    cdashigField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
              title: Core
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                modelField:
                  $ref: '#/components/schemas/fieldRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                parentScenario:
                  $ref: '#/components/schemas/scenarioRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmClassMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTM Mapping Target Variables
                  title: Sdtm Class Mapping Targets
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
                  title: Sdtmig Dataset Mapping Targets
              title: Title for _links
              description: Description for _links
      description: CDASHIG Field
    cdashigScenarioField:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashFieldAttributes'
        - properties:
            core:
              type: string
              description: Core Classifier
              title: Core
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                codelist:
                  $ref: '#/components/schemas/codelistRef'
                valuelist:
                  $ref: '#/components/schemas/valuelistRef'
                modelField:
                  $ref: '#/components/schemas/fieldRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                parentScenario:
                  $ref: '#/components/schemas/scenarioRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                sdtmigDatasetMappingTargets:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: SDTMIG Mapping Target Variables
                  title: Sdtmig Dataset Mapping Targets
              title: Title for _links
              description: Description for _links
      description: CDASHIG Field
    cdashigDomainAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Domain Name
          title: Name
        label:
          type: string
          description: Domain Label
          title: Label
        status:
          type: string
          description: Domain Status
          title: Status
      description: CDASHIG Domain Attributes
    cdashigDomain:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Domain Scenarios
                  title: Scenarios
              title: Title for _links
              description: Description for _links
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashigField'
              description: Domain Fields
              title: Fields
      description: CDASHIG Domain
    cdashigDomainDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigDomainAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/fieldRef'
                  description: Domain Field References
                  title: Fields
              title: Title for _links
              description: Description for _links
      description: CDASHIG Domain Digest
    cdashigScenarioAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        domain:
          type: string
          description: Domain
          title: Domain
        domainName:
          type: string
          description: Two character domain name
          title: Domain Name
        scenario:
          type: string
          description: Scenario
          title: Scenario
      description: CDASHIG Scenario Attributes
    cdashigScenario:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigScenarioAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            fields:
              type: array
              items:
                $ref: '#/components/schemas/cdashigScenarioField'
              description: CDASHIG Fields
              title: Fields
      description: CDASHIG Scenario
    cdashigScenarioDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/cdashigScenarioAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                parentDomain:
                  $ref: '#/components/schemas/domainRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/fieldRef'
                  description: CDASHIG Field References
                  title: Fields
              title: Title for _links
              description: Description for _links
      description: CDASHIG Scenario Digest
    cdashigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  title: Subclasses
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            domains:
              type: array
              items:
                $ref: '#/components/schemas/cdashigDomain'
              description: Domains
              title: Domains
            scenarios:
              type: array
              items:
                $ref: '#/components/schemas/cdashigScenario'
              description: Scenarios
              title: Scenarios
      description: CDASHIG Class
    classDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                domains:
                  type: array
                  items:
                    $ref: '#/components/schemas/domainRef'
                  description: Domain References
                  title: Domains
              title: Title for _links
              description: Description for _links
      description: CDASHIG Class Domain List
    classScenarioList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Scenario References
                  title: Scenarios
              title: Title for _links
              description: Description for _links
      description: CDASHIG Class Scenario List
    cdashigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classes:
              type: array
              items:
                $ref: '#/components/schemas/cdashigClass'
              description: Classes
              title: Classes
      description: CDASHIG Product
    cdashigDomainList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                domains:
                  type: array
                  items:
                    $ref: '#/components/schemas/domainRef'
                  description: Domain References
                  title: Domains
              title: Title for _links
              description: Description for _links
      description: CDASHIG Domain List
    cdashigScenarioList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                scenarios:
                  type: array
                  items:
                    $ref: '#/components/schemas/scenarioRef'
                  description: Scenario References
                  title: Scenarios
              title: Title for _links
              description: Description for _links
      description: CDASHIG Scenario List
    variableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Variable Reference
    qualifiesVariableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Qualifies Variable Reference
    datasetRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Dataset Reference
    sdtmVariableAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Variable Name
          title: Name
        label:
          type: string
          description: Variable Label
          title: Label
        description:
          type: string
          description: Variable Description
          title: Description
        role:
          type: string
          description: Variable Role
          title: Role
        roleDescription:
          type: string
          description: Variable Role Description
          title: Role Description
        simpleDatatype:
          type: string
          description: Variable Simple Datatype
          title: Simple Datatype
        usageRestrictions:
          type: string
          description: Variable Usage Restrictions
          title: Usage Restrictions
        notes:
          type: string
          description: Variable Notes
          title: Notes
        examples:
          type: string
          description: Variable examples
          title: Examples
      description: SDTM Variable Attributes
    datasetVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/sdtmVariableAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentDataset:
                  $ref: '#/components/schemas/datasetRef'
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
      description: SDTM Dataset Variable
    datasetAttributes:
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Dataset Name
          title: Name
        label:
          type: string
          description: Dataset Label
          title: Label
        description:
          type: string
          description: Dataset Description
          title: Description
        datasetStructure:
          type: string
          description: Dataset Structure
          title: Dataset Structure
        status:
          type: string
          description: Dataset Status
          title: Status
      description: SDTM Dataset Attributes
    dataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/datasetVariable'
              description: Dataset Variables
              title: Dataset Variables
      description: SDTM Dataset
    datasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
                  title: Dataset Variables
              title: Title for _links
              description: Description for _links
      description: SDTM Dataset Digest
    classVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/sdtmVariableAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                qualifiesVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/qualifiesVariableRef'
                  description: Variables qualified by this variable
                  title: Qualifies Variables
                rootItem:
                  $ref: '#/components/schemas/rootItemRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
      description: SDTM Class Variable
    sdtmClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  title: Subclasses
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classVariables:
              type: array
              items:
                $ref: '#/components/schemas/classVariable'
              description: Class Variables
              title: Class Variables
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/dataset'
              description: Datasets
              title: Datasets
      description: SDTM Class
    classVariableList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                classVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Class Variable References
                  title: Class Variables
              title: Title for _links
              description: Description for _links
      description: SDTM Class Variable List
    classDatasetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasets:
                  type: array
                  items:
                    $ref: '#/components/schemas/datasetRef'
                  description: Dataset References
                  title: Datasets
              title: Title for _links
              description: Description for _links
      description: SDTM Class Dataset List
    sdtmProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sdtmClass'
              description: Classes
              title: Classes
      description: SDTM Product
    dataTabulationDatasetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasets:
                  type: array
                  items:
                    $ref: '#/components/schemas/datasetRef'
                  description: Dataset References
                  title: Datasets
              title: Title for _links
              description: Description for _links
      description: Data Tabulation Dataset List
    igVariableAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Variable Name
          title: Name
        label:
          type: string
          description: Variable Label
          title: Label
        description:
          type: string
          description: Variable Description
          title: Description
        role:
          type: string
          description: Variable Role
          title: Role
        simpleDatatype:
          type: string
          description: Variable Simple Datatype
          title: Simple Datatype
        core:
          type: string
          description: Core Classifier
          title: Core
        describedValueDomain:
          type: string
          description: Described Value Domain
          title: Described Value Domain
        valueList:
          type: array
          items:
            type: string
          description: Value List
          title: Value List
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            codelist:
              $ref: '#/components/schemas/codelistRef'
            modelDatasetVariable:
              $ref: '#/components/schemas/variableRef'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDataset:
              $ref: '#/components/schemas/datasetRef'
            rootItem:
              $ref: '#/components/schemas/rootItemRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
          title: Title for _links
          description: Description for _links
      description: IG Variable Attributes
    sdtmigVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/igVariableAttributes'
      description: SDTMIG Variable
    sdtmigDataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigVariable'
              description: Dataset Variables
              title: Dataset Variables
      description: SDTMIG Dataset
    sdtmigDatasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
                  title: Dataset Variables
              title: Title for _links
              description: Description for _links
      description: SDTMIG Dataset Digest
    sdtmigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  title: Subclasses
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigDataset'
              description: Datasets
              title: Datasets
      description: SDTMIG Class
    sdtmigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sdtmigClass'
              description: Classes
              title: Classes
      description: SDTMIG Product
    sendigVariable:
      type: object
      allOf:
        - $ref: '#/components/schemas/igVariableAttributes'
      description: SENDIG Variable
    sendigDataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            datasetVariables:
              type: array
              items:
                $ref: '#/components/schemas/sendigVariable'
              description: Dataset Variables
              title: Dataset Variables
      description: SENDIG Dataset
    sendigDatasetDigest:
      type: object
      allOf:
        - $ref: '#/components/schemas/datasetAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelDataset:
                  $ref: '#/components/schemas/datasetRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datasetVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/variableRef'
                  description: Dataset Variable References
                  title: Dataset Variables
              title: Title for _links
              description: Description for _links
      description: SENDIG Dataset Digest
    sendigClass:
      type: object
      allOf:
        - $ref: '#/components/schemas/classAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                modelClass:
                  $ref: '#/components/schemas/classRef'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                parentClass:
                  $ref: '#/components/schemas/classRef'
                subclasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/classRef'
                  title: Subclasses
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/sendigDataset'
              description: Datasets
              title: Datasets
      description: SENDIG Class
    sendigProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - $ref: '#/components/schemas/corrigenda'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                model:
                  $ref: '#/components/schemas/modelRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            classes:
              type: array
              items:
                $ref: '#/components/schemas/sendigClass'
              description: Classes
              title: Classes
      description: SENDIG Product
    analysisVariableRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Variable Reference
    analysisVariableSetRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Variable Set Reference
    analysisDatastructureRef:
      type: object
      allOf:
        - $ref: '#/components/schemas/link'
      description: Analysis Datastructure Reference
    analysisVariable:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Analysis Variable Name
          title: Name
        label:
          type: string
          description: Analysis Variable Label
          title: Label
        description:
          type: string
          description: Analysis Variable Description
          title: Description
        core:
          enum:
            - Perm
            - Req
            - Cond
          type: string
          description: Core Classifier
          title: Core
        simpleDatatype:
          type: string
          description: Analysis Variable Simple Datatype
          title: Simple Datatype
        valueList:
          type: array
          items:
            type: string
          description: Value List
          title: Value List
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            codelist:
              $ref: '#/components/schemas/codelistRef'
            valuelist:
              $ref: '#/components/schemas/valuelistRef'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDatastructure:
              $ref: '#/components/schemas/analysisDatastructureRef'
            parentVariableSet:
              $ref: '#/components/schemas/analysisVariableSetRef'
            parentClassVariable:
              $ref: '#/components/schemas/link'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
          title: Title for _links
          description: Description for _links
      description: Analysis Variable
    analysisVariableSet:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Analysis Variable Set Name
          title: Name
        label:
          type: string
          description: Analysis Variable Set Label
          title: Label
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            parentProduct:
              $ref: '#/components/schemas/productRef'
            parentDatastructure:
              $ref: '#/components/schemas/analysisDatastructureRef'
            priorVersion:
              $ref: '#/components/schemas/priorVersion'
            parentClassVariableSet:
              $ref: '#/components/schemas/analysisVariableSetRef'
          title: Title for _links
          description: Description for _links
        analysisVariables:
          type: array
          items:
            $ref: '#/components/schemas/analysisVariable'
          description: Analysis Variables
          title: Analysis Variables
      description: Analysis Variable Set
    analysisDatastructureAttributes:
      type: object
      properties:
        ordinal:
          type: integer
          description: Ordinal
          title: Ordinal
        name:
          type: string
          description: Datastructure Name
          title: Name
        label:
          type: string
          description: Datastructure Label
          title: Label
        description:
          type: string
          description: Datastructure Description
          title: Description
        class:
          type: string
          description: Datastructure Class
          title: Class
        subClass:
          type: string
          description: Datastructure Sub class
          title: Sub Class
        status:
          type: string
          description: Datastructure Status
          title: Status
      description: Analysis Datastructure Attributes
    analysisDatastructure:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                parentClassDatastructure:
                  $ref: '#/components/schemas/analysisDatastructureRef'
              title: Title for _links
              description: Description for _links
            analysisVariableSets:
              type: array
              items:
                $ref: '#/components/schemas/analysisVariableSet'
              description: Analysis Variable Sets
              title: Analysis Variable Sets
      description: Analysis Datastructure
    analysisVariableSetList:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                analysisVariableSets:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisVariableSet'
                  description: Analysis Variable Set References
                  title: Analysis Variable Sets
              title: Title for _links
              description: Description for _links
      description: Analysis Variable Set List
    analysisVariableList:
      type: object
      allOf:
        - $ref: '#/components/schemas/analysisDatastructureAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                parentProduct:
                  $ref: '#/components/schemas/productRef'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                analysisVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisVariableRef'
                  description: Analysis Variable References
                  title: Analysis Variables
              title: Title for _links
              description: Description for _links
      description: Analysis Variable List
    analysisDatastructureList:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                datastructures:
                  type: array
                  items:
                    $ref: '#/components/schemas/analysisDatastructureRef'
                  description: Datastructure References
                  title: Datastructures
              title: Title for _links
              description: Description for _links
      description: Analysis Datastructure List
    adamProduct:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
              title: Title for _links
              description: Description for _links
            dataStructures:
              type: array
              items:
                $ref: '#/components/schemas/analysisDatastructure'
              description: Analysis Variable Sets
              title: Data Structures
      description: ADaM Product
    integratedStandard:
      type: object
      allOf:
        - $ref: '#/components/schemas/productAttributes'
        - properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                priorVersion:
                  $ref: '#/components/schemas/priorVersion'
                standards:
                  type: object
                  properties:
                    sdtmig:
                      $ref: '#/components/schemas/link'
                    cdashig:
                      $ref: '#/components/schemas/link'
                    sendig:
                      $ref: '#/components/schemas/link'
                    adamig:
                      $ref: '#/components/schemas/link'
                  title: Standards
                models:
                  type: array
                  items:
                    $ref: '#/components/schemas/link'
                  title: Models
              title: Title for _links
              description: Description for _links
      description: Integrated Standard
    productgroupQrsInstrumentLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/productgroupRef'
        instruments:
          type: array
          items:
            $ref: '#/components/schemas/qrsInstrumentRefElement'
          title: Instruments
    productgroupRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/products/QrsInstrument
          title: Href
        title:
          type: string
          example: Product Group QRS Instrument
          title: Title
        type:
          type: string
          example: CDISC Library Product Group
          title: Type
    xmlProducts:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/products'
      xml:
        name: cdiscLibrary
    qrsInstrumentRefElement:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AIMS01/versions/1-0
          title: Href
        title:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
          title: Title
        type:
          type: string
          example: QRS Instrument
          title: Type
      xml:
        name: instrument
    qrsInstrument:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentProductLinks'
          title: Title for _links
          description: Description for _links
        name:
          type: string
          example: AIMS01 v1.0
          title: Name
        label:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
          title: Label
        description:
          type: string
          example: 'Abnormal Involuntary Movement Scale (AIMS) (Guy W. Ed. ECDEU Assessment Manual for Psychopharmacology. Rockville MD: US Dept of Health, Education and Welfare. 1976, Publication No. (ADM) 76-338).'
          title: Description
        effectiveDate:
          type: string
          example: '2013-05-22'
          title: Effective Date
        untilDate:
          type: string
          example: '2022-12-31'
          title: Until Date
        registrationStatus:
          type: string
          example: Final
          title: Registration Status
        version:
          type: string
          example: '1.0'
          title: Version
        instrumentType:
          type: string
          example: Questionnaire
          title: Instrument Type
        copyrightStatus:
          type: string
          example: Public Domain
          title: Copyright Status
        responseGroups:
          $ref: '#/components/schemas/qrsInstrumentResponseGroups'
        items:
          $ref: '#/components/schemas/qrsInstrumentItems'
      xml:
        name: qrsInstrument
    qrsInstrumentProductLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        priorVersion:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        instrumentCAT:
          $ref: '#/components/schemas/rootTermInstrumentCATRef'
        instrumentSCAT:
          $ref: '#/components/schemas/rootTermInstrumentSCATRef'
    qrsInstrumentProductRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AIMS01/versions/1-0
          title: Href
        title:
          type: string
          example: Abnormal Involuntary Movement Scale Version 1.0
          title: Title
        type:
          type: string
          example: QRS Instrument
          title: Type
    qrsInstrumentResponseGroups:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentResponseGroup'
    qrsInstrumentItems:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentItem'
    qrsInstrumentItem:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentItemLink'
          title: Title for _links
          description: Description for _links
        ordinal:
          type: integer
          example: 1
          title: Ordinal
        label:
          type: string
          example: Abnormal Involuntary Movement Scale - Facial and Oral Movements, Muscles of facial expression, e.g., movements of forehead, eyebrows, periorbital area, cheeks. Include frowning, blinking, grimacing of upper face.
          title: Label
        questionText:
          type: string
          example: AIMS01-Muscles of Facial Expression
          title: Question Text
        itemCode:
          type: string
          example: AIMS0101
          title: Item Code
        responseGroup:
          $ref: '#/components/schemas/qrsInstrumentResponseGroup'
    qrsInstrumentResponseGroup:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentResponseGroupRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
          title: Title for _links
          description: Description for _links
        name:
          type: string
          example: AIMS01-01 to 07
          title: Name
        label:
          type: string
          example: AIMS:VD.AIMS01-01 to 07
          title: Label
        responseType:
          type: string
          example: Verbal Rating Scale
          title: Response Type
        responses:
          $ref: '#/components/schemas/qrsInstrumentResponseGroupResponses'
    qrsInstrumentResponseGroupResponses:
      type: array
      items:
        $ref: '#/components/schemas/qrsInstrumentResponseGroupResponse'
    qrsInstrumentResponseGroupResponse:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/qrsInstrumentResponseGroupResponseLinks'
          title: Title for _links
          description: Description for _links
        ordinal:
          type: integer
          example: 1
          title: Ordinal
        isStandardResultNumeric:
          type: boolean
          example: true
          title: Is Standard Result Numeric
    qrsInstrumentResponseGroupResponseLinks:
      type: object
      properties:
        responseORRES:
          $ref: '#/components/schemas/rootTermResponseORRESRef'
        responseSTRESC:
          $ref: '#/components/schemas/rootTermResponseSTRESCRef'
        responseSTRESN:
          $ref: '#/components/schemas/rootTermResponseSTRESNRef'
    qrsInstrumentResponseGroupsLinks:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentResponseGroupsRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
            responseGroups:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentResponseGroupRef'
              title: Response Groups
          title: Title for _links
          description: Description for _links
    qrsInstrumentResponseGroupsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/responseGroups
          title: Href
        title:
          type: string
          example: QRS Instrument Response Groups for AMS01 v1.0
          title: Title
        type:
          type: string
          example: QRS Instrument Response Groups
          title: Type
    qrsInstrumentResponseGroupRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/responseGroups/AIMS01-01_to_07
          title: Href
        title:
          type: string
          example: QRS Instrument Response Group AIMS01-01 to 07 for AMS01 v1.0
          title: Title
        type:
          type: string
          example: QRS Instrument Response Group
          title: Type
    qrsInstrumentItemsLinks:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/qrsInstrumentItemsRef'
            parentInstrument:
              $ref: '#/components/schemas/qrsInstrumentProductRef'
            items:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentItemRef'
              title: Items
          title: Title for _links
          description: Description for _links
    qrsInstrumentItemsRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/items
          title: Href
        title:
          type: string
          example: QRS Instrument Items for AMS01 v1.0
          title: Title
        type:
          type: string
          example: QRS Instrument Response Items
          title: Type
    qrsInstrumentItemRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/qrs/instruments/AMS01/versions/1-0/items/1
          title: Href
        title:
          type: string
          example: QRS Instrument Item 1 for AMS01 v1.0
          title: Title
        type:
          type: string
          example: QRS Instrument Item
          title: Type
    qrsInstrumentItemLink:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/qrsInstrumentItemRef'
        parentInstrument:
          $ref: '#/components/schemas/qrsInstrumentProductRef'
        instrumentItemTESTCD:
          $ref: '#/components/schemas/rootTermInstrumentItemTESTCDRef'
        instrumentItemTEST:
          $ref: '#/components/schemas/rootTermInstrumentItemTESTRef'
    rootQrsInstrument:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  example: /mdr/root/qrs/instruments/AIMS01
                  title: Href
                title:
                  type: string
                  example: Version-agnostic anchor element for QRS Intrument AIMS01
                  title: Title
                type:
                  type: string
                  example: Root QRS Instrument
                  title: Type
              title: Self
            versions:
              type: array
              items:
                $ref: '#/components/schemas/qrsInstrumentProductRef'
              title: Versions
          title: Title for _links
          description: Description for _links
    rootTermInstrumentCATRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C118971/terms/C102111
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C118971.C102111
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermInstrumentSCATRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C222222/terms/C333333
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C222222.C333333
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermInstrumentItemTESTCDRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C101805/terms/C102034
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C101805.C102034
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermInstrumentItemTESTRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C101806/terms/C102034
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C101806.C102034
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermResponseORRESRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C135012/terms/C28077
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C135012.C28077
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermResponseSTRESCRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C160923/terms/C161425
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C160923.C161425
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    rootTermResponseSTRESNRef:
      type: object
      properties:
        href:
          type: string
          example: /mdr/root/ct/sdtmct/codelists/C160923/terms/C161425
          title: Href
        title:
          type: string
          example: Version-agnostic anchor resource for codelist term C160923.C161425
          title: Title
        type:
          type: string
          example: Root Value
          title: Type
    lastupdatedAttributes:
      properties:
        overall:
          type: string
          description: Last Updated Date for Overall CDISC Library
          title: Overall
        data-analysis:
          type: string
          description: Last Updated Date for Data Analysis Products
          title: Data Analysis
        data-collection:
          type: string
          description: Last Updated Date for Data Collection Products
          title: Data Collection
        data-tabulation:
          type: string
          description: Last Updated Date for Data Tabulation Products
          title: Data Tabulation
        qrs:
          type: string
          description: Last Updated Date for QRS instrument Products
          title: Qrs
        terminology:
          type: string
          description: Last Updated Date for Terminology Products
          title: Terminology
      description: CDISC Library Product Last Updated Date Attributes
    lastupdated:
      type: object
      allOf:
        - $ref: '#/components/schemas/lastupdatedAttributes'
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
          title: Title for _links
          description: Description for _links
      description: CDISC Library Product Last Updated Date
    maintenanceAttributes:
      properties:
        maintenanceMode:
          type: string
          description: Maintenance mode
          title: Maintenance Mode
        maintenanceMessage:
          type: string
          description: Maintenance message
          title: Maintenance Message
      description: CDISC Library maintenance status
    maintenance:
      type: object
      allOf:
        - $ref: '#/components/schemas/maintenanceAttributes'
      description: CDISC Library maintenance status
    aboutAttributes:
      properties:
        release-notes:
          type: string
          description: URL to CDISC Library Release Notes
          format: url
          title: Release Notes
        api-documentation:
          type: string
          description: URL to CDISC Library API Documentation
          format: url
          title: Api Documentation
      description: Information About CDISC Library Product Attributes
    about:
      type: object
      allOf:
        - $ref: '#/components/schemas/aboutAttributes'
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
          title: Title for _links
          description: Description for _links
      description: Information About CDISC Library
    products:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            data-collection:
              $ref: '#/components/schemas/productDataCollection'
            data-tabulation:
              $ref: '#/components/schemas/productDataTabulation'
            data-analysis:
              $ref: '#/components/schemas/productDataAnalysis'
            qrs:
              $ref: '#/components/schemas/productQrsInstrument'
            draft-content:
              $ref: '#/components/schemas/productDraftContent'
            integrated:
              $ref: '#/components/schemas/productIntegrated'
            terminology:
              $ref: '#/components/schemas/productTerminology'
          title: Title for _links
          description: Description for _links
      description: CDISC Library Product List
    productTerminology:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            packages:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Packages
          title: Title for _links
          description: Description for _links
      description: Terminology Product
    productDataAnalysis:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            adam:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Adam
          title: Title for _links
          description: Description for _links
      description: Data Analysis Product
    productDataTabulation:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            sdtm:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sdtm
            sdtmig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sdtmig
            sendig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sendig
          title: Title for _links
          description: Description for _links
      description: Data Tabulation Product
    productDataCollection:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            cdash:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Cdash
            cdashig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Cdashig
          title: Title for _links
          description: Description for _links
      description: Data Collection Product
    productQrsInstrument:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            instrument:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Instrument
          title: Title for _links
          description: Description for _links
      description: QRS Instrument Product
    productDraftContent:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            cdash:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Cdash
            cdashig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Cdashig
            sdtm:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sdtm
            sdtmig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sdtmig
            sendig:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Sendig
            adam:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Adam
            qrs:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Qrs
          title: Title for _links
          description: Description for _links
      description: Draft Content Product
    productIntegrated:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
          title: Title for _links
          description: Description for _links
      description: Integrated Standards product
    productGroupIntegrated:
      type: object
      allOf:
        - $ref: '#/components/schemas/productIntegrated'
      description: CDISC Library Product List for the Integrated Standard Product Group
    productGroupDataCollection:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataCollection'
      description: CDISC Library Product List for the Data Collection Product Group
    productGroupDataTabulation:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataTabulation'
      description: CDISC Library Product List for the Data Tabulation Product Group
    productGroupDataAnalysis:
      type: object
      allOf:
        - $ref: '#/components/schemas/productDataAnalysis'
      description: CDISC Library Product List for the Data Analysis Product Group
    productGroupTerminology:
      allOf:
        - $ref: '#/components/schemas/productTerminology'
      description: CDISC Library Product List for the Terminology Product Group
    productgroupQrsInstrument:
      type: object
      allOf:
        - $ref: '#/components/schemas/productQrsInstrument'
      description: CDISC Library Product List for the QRS Instrument Product Group
    productGroupDraftContent:
      allOf:
        - $ref: '#/components/schemas/productDraftContent'
      description: CDISC Library Product List for the Draft Content Product Group
    rule_package_links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            catalogs:
              type: object
              title: Catalogs
          title: Title for _links
          description: Description for _links
      description: CDISC Library Rule Package List
    ig_document:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            children:
              type: array
              items:
                $ref: '#/components/schemas/link'
              title: Children
            section:
              $ref: '#/components/schemas/link'
            parentProduct:
              $ref: '#/components/schemas/link'
            parentDocument:
              $ref: '#/components/schemas/link'
          title: Title for _links
[...]
