openapi: 3.0.1
info:
  title: CDISC Library API
  description: Public API for CDISC Library
  version: '1.0'
servers:
  - url: https://api.library.cdisc.org/api
paths:
  /__duckdeploy/health:
    get:
      tags:
        - System
      summary: Proxy Health Check
      description: Internal proxy health check endpoint
      operationId: getProxyHealth
      x-internal: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
  /mdr/search/implementedBy:
    get:
      tags:
        - Searches
      summary: Get products that implment href
      description: Get products that implment href
      operationId: api-search-implemented_by
      x-data-collection: _links.searchResults
      x-record-id: href
      parameters:
        - name: href
          in: query
          description: Identify products who implment targetHref
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: Initial Search Result Index
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Number of Search Results to Return
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResult'
              example:
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  searchResults:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            text/csv:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            application/gzip:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/search/scopes/{scope}:
    get:
      tags:
        - Searches
      summary: Get Search Results Limited to Scope
      description: Get Search Results Limited to Scope
      operationId: api-search-search_scope
      x-data-collection: _links.searchResults
      x-record-id: href
      parameters:
        - name: scope
          in: path
          description: Search Scope
          required: true
          schema:
            enum:
              - registrationStatus
              - type
              - submissionValue
              - sdtmTarget
              - conceptId
              - href
              - valueDomain
              - synonyms
              - version
              - simpleDatatype
              - core
              - domain
              - preferredTerm
              - name
              - codelist
              - description
              - uiHref
              - definition
              - class
              - extensible
              - product
              - dataStructure
              - label
              - variableSet
              - productGroup
              - dataset
              - datasetStructure
              - roleDescription
              - effectiveDate
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResult'
              example:
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  searchResults:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            text/csv:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/searchResult'
              example: <searchResult> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <searchResults> <href>string</href> <title>string</title> <type>string</type> </searchResults> </_links> </searchResult>
            application/gzip:
              schema:
                $ref: '#/components/schemas/searchResult'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/ct/packages/{package}/codelists/{codelist}/terms:
    get:
      tags:
        - Controlled Terminology (CT)
      summary: Get CT Package Codelist Term List
      description: Get CT Package Codelist Term List
      operationId: api-products-ct-get_package_codelist_terms
      parameters:
        - name: package
          in: path
          description: CT Package Identifier
          required: true
          schema:
            type: string
        - name: codelist
          in: path
          description: Codelist Identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              example:
                conceptId: string
                extensible: true
                name: string
                submissionValue: string
                definition: string
                preferredTerm: string
                synonyms:
                  - string
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  parentPackage:
                    href: string
                    title: string
                    type: string
                  rootItem:
                    href: string
                    title: string
                    type: string
                  priorVersion:
                    href: string
                    title: string
                    type: string
                  terms:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              example: <codelistDigest> <conceptId>string</conceptId> <extensible>true</extensible> <name>string</name> <submissionValue>string</submissionValue> <definition>string</definition> <preferredTerm>string</preferredTerm> <synonyms>string</synonyms> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentPackage> <href>string</href> <title>string</title> <type>string</type> </parentPackage> <rootItem> <href>string</href> <title>string</title> <type>string</type> </rootItem> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> <terms> <href>string</href> <title>string</title> <type>string</type> </terms> </_links> </codelistDigest>
            text/csv:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              example: <codelistDigest> <conceptId>string</conceptId> <extensible>true</extensible> <name>string</name> <submissionValue>string</submissionValue> <definition>string</definition> <preferredTerm>string</preferredTerm> <synonyms>string</synonyms> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentPackage> <href>string</href> <title>string</title> <type>string</type> </parentPackage> <rootItem> <href>string</href> <title>string</title> <type>string</type> </rootItem> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> <terms> <href>string</href> <title>string</title> <type>string</type> </terms> </_links> </codelistDigest>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              example: <codelistDigest> <conceptId>string</conceptId> <extensible>true</extensible> <name>string</name> <submissionValue>string</submissionValue> <definition>string</definition> <preferredTerm>string</preferredTerm> <synonyms>string</synonyms> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentPackage> <href>string</href> <title>string</title> <type>string</type> </parentPackage> <rootItem> <href>string</href> <title>string</title> <type>string</type> </rootItem> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> <terms> <href>string</href> <title>string</title> <type>string</type> </terms> </_links> </codelistDigest>
            application/gzip:
              schema:
                $ref: '#/components/schemas/codelistDigest'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/root/ct/{package-type}/codelists/{codelist}/terms/{term}:
    get:
      tags:
        - Controlled Terminology (CT)
      summary: Get Root CT Codelist Term
      description: Get Root CT Codelist Term
      operationId: api-products-ct-get_root_package_codelist_term
      parameters:
        - name: package-type
          in: path
          description: CT Package Type
          required: true
          schema:
            type: string
        - name: codelist
          in: path
          description: Codelist Identifier
          required: true
          schema:
            type: string
        - name: term
          in: path
          description: Codelist Term Identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rootItem'
              example:
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  versions:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            text/csv:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            application/gzip:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/cdash/{version}/domains/{domain}/fields:
    get:
      tags:
        - Clinical Data Acquisition Standards Harmonization (CDASH)
      summary: Get CDASH Model Domain Fields
      description: Get CDASH Model Domain Fields
      operationId: api-products-cdash-get_domain_fields
      parameters:
        - name: version
          in: path
          description: CDISC Library Product Version
          required: true
          schema:
            type: string
        - name: domain
          in: path
          description: Data Collection Domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              example:
                name: string
                label: string
                description: string
                source: string
                effectiveDate: string
                registrationStatus: string
                version: string
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  parentProduct:
                    href: string
                    title: string
                    type: string
                  parentClass:
                    href: string
                    title: string
                    type: string
                  priorVersion:
                    href: string
                    title: string
                    type: string
                fields:
                  - href: string
                    title: string
                    type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              example: <cdashFieldList> <name>string</name> <label>string</label> <description>string</description> <source>string</source> <effectiveDate>string</effectiveDate> <registrationStatus>string</registrationStatus> <version>string</version> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentProduct> <href>string</href> <title>string</title> <type>string</type> </parentProduct> <parentClass> <href>string</href> <title>string</title> <type>string</type> </parentClass> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> </_links> <fields> <href>string</href> <title>string</title> <type>string</type> </fields> </cdashFieldList>
            text/csv:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              example: <cdashFieldList> <name>string</name> <label>string</label> <description>string</description> <source>string</source> <effectiveDate>string</effectiveDate> <registrationStatus>string</registrationStatus> <version>string</version> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentProduct> <href>string</href> <title>string</title> <type>string</type> </parentProduct> <parentClass> <href>string</href> <title>string</title> <type>string</type> </parentClass> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> </_links> <fields> <href>string</href> <title>string</title> <type>string</type> </fields> </cdashFieldList>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              example: <cdashFieldList> <name>string</name> <label>string</label> <description>string</description> <source>string</source> <effectiveDate>string</effectiveDate> <registrationStatus>string</registrationStatus> <version>string</version> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <parentProduct> <href>string</href> <title>string</title> <type>string</type> </parentProduct> <parentClass> <href>string</href> <title>string</title> <type>string</type> </parentClass> <priorVersion> <href>string</href> <title>string</title> <type>string</type> </priorVersion> </_links> <fields> <href>string</href> <title>string</title> <type>string</type> </fields> </cdashFieldList>
            application/gzip:
              schema:
                $ref: '#/components/schemas/cdashFieldList'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/root/cdash/domains/{domain}/fields/{field}:
    get:
      tags:
        - Clinical Data Acquisition Standards Harmonization (CDASH)
      summary: Get Root CDASH Model Domain Field
      description: Get Root CDASH Model Domain Field
      operationId: api-products-cdash-get_root_domain_field
      parameters:
        - name: domain
          in: path
          description: Data Collection Domain
          required: true
          schema:
            type: string
        - name: field
          in: path
          description: Field Identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rootItem'
              example:
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  versions:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            text/csv:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/rootItem'
              example: <rootItem> <_links> <self> <href>string</href> <title>string</title> <type>string</type> </self> <versions> <href>string</href> <title>string</title> <type>string</type> </versions> </_links> </rootItem>
            application/gzip:
              schema:
                $ref: '#/components/schemas/rootItem'
              examples:
                default:
                  value: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '401':
          description: Unauthorized
          headers:
            WWW_Authenticate:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                statusCode: string
                reasonPhrase: string
                userMessage: string
                adminMessage: string
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            text/csv:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
            application/odm+xml:
              schema:
                $ref: '#/components/schemas/error'
              example: <error> <statusCode>string</statusCode> <reasonPhrase>string</reasonPhrase> <userMessage>string</userMessage> <adminMessage>string</adminMessage> </error>
            application/gzip:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                default:
                  value: null
  /mdr/cdashig/{version}/scenarios/{scenario}/fields:
    get:
      tags:
        - CDASH Implementation Guide (CDASHIG)
      summary: Get CDASHIG Scenario Variable List
      description: Get CDASHIG Scenario Variable List
      operationId: api-products-cdashig-get_scenario_fields
      parameters:
        - name: version
          in: path
          description: CDISC Library Product Version
          required: true
          schema:
            type: string
        - name: scenario
          in: path
          description: Data Collection Scenario
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdashigScenarioDigest'
              example:
                ordinal: 0
                domain: string
                domainName: string
                scenario: string
                _links:
                  self:
                    href: string
                    title: string
                    type: string
                  parentProduct:
                    href: string
                    title: string
                    type: string
                  parentClass:
                    href: string
                    title: string
                    type: string
                  parentDomain:
                    href: string
                    title: string
                    type: string
                  priorVersion:
                    href: string
                    title: string
                    type: string
                  fields:
                    - href: string
                      title: string
                      type: string
            application/xml:
              schema:
                $ref: '#/components/schemas/cdashigScenarioDigest'
[...]
